<app-nav></app-nav>

<router-outlet></router-outlet>


<!--

<table class="table table-striped table-bordered">
  <caption>liste of education</caption>
  <thead class="bg-danger">
    <th scope="col">#</th>
    <th class="bg-success">name</th>
    <th>age</th>
  </thead>
  <tbody>
    <tr class="table-secondary" *ngFor="let e of x">
      <td>{{e.etoil}}</td>
      <td>{{e.name}}</td>
    <td>{{e.age}}</td>
    </tr>
  </tbody>
</table>



<div class="nav">
  <img src="assets/angular-10.png" width="80" id="angular">
  <p id="angular">  Welcome</p>       
  <div class="spacer">
    <a aria-label="Angular on twitter" href="https://twitter.com/angular">
      <img src="assets/2.png" alt="" width="40" id="twiter" >   
     </a>
     <a href="https://www.youtube.com/angular">
      <img src="assets/3.png" alt="" width="50" id="twiter">
     </a>
     <form id="twiter">
      <button type="button" id="tw">search</button>
      <input type="search" placeholder="type-search" id="tw">
      
     </form>
  </div>
</div>



<table class="table table-bordered " id="centre">
  <thead >
    <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>salaire</th>
    <th>met quota</th>
    
  </thead>
  <tbody>
    <tr *ngFor="let s of liste">
      <td>{{s.firstname}}</td>
      <td>{{s.lastname}}</td>
      <td>{{s.email}}</td>
      <td>{{s.salaire| currency:'USD'}}</td>
      <td>
        <div *ngIf="s.salaire>=4000;else my">yes</div>
        <ng-template #my>no</ng-template>
      </td>
    </tr>
  </tbody>
</table>--> 
